body {
    /* background-color: #EAE5E1; */
    margin: 0;
    margin-bottom: 5%;
}

.container {
    text-align: center;
    margin-top: 20%;
    &.section-with-branch {
        margin-top: -45%;
    }
}

.nosotros-section {
    background-color: #EAE5E1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer {
    background-color: #EAE5E1;
    margin-bottom: -5%;
    margin-top: 20px;
    overflow-x: hidden;
}

.logo-footer {
    max-width: 70%;
}
.logo-header {
    max-width: 100%;
}
.header {
    opacity: 0;
}
.image-container {
    text-align: center;
}

.main-image {
    margin-top: -40%;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.text-overlay {
    color: white;
    z-index: 2;
    position: relative;
    margin-top: 5%;
}

.main-title {
    font-size: 20vw;
    font-family: 'Licorice', cursive;
    margin-bottom: -30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.sub-title {
    font-size: 7vw;
    font-family: 'LXGW WenKai TC', cursive;
    transform: translateY(250px);
}

.invitation-title {
    font-size: 17vw;
    font-family: 'Licorice', cursive;
    margin-top: 60px;
    color: #777b4f;
}

.invitation-text {
    font-family: 'LXGW WenKai TC', cursive;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}

.invitation-date {
    margin-top: 10%;
    font-size: 5vw;
    font-family: 'LXGW WenKai TC', cursive;
    margin-left: 5%;
    margin-right: 5%;
}

.date-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.countdown-text {
    margin-top: 40px;
    margin-bottom: 5%;
    font-size: 5vw;
    font-family: 'LXGW WenKai TC', cursive;
    margin-left: 5%;
    margin-right: 5%;
}

.countdown-item {
    display: inline-block;
    margin-top: 15px;
}

.countdown-item-text {
    font-size: 3vw;
}

.date {
    margin-right: 5%;
    margin-left: 5%;
    font-size: 6vw;
    font-family: 'LXGW WenKai TC', cursive;
    color:#777b4f;
    font-weight: 600;
    &.middle {
        border-right: 2px solid black;
        border-left: 2px solid black;
        padding-left: 5%;
        padding-right: 5%;
        margin-right: 0%;
        border-color:#777b4f;
    }
}

.save-the-date{
    max-width: 10%;
}

.countdown-container {
    display: flex;
    justify-content: center;
    font-family: 'LXGW WenKai TC', cursive;

}

.nosotros-flex {
 display: flex;
}

.countdown{
    width: 75px;
    height: 75px;
    background-color: #EAE5E1;
    border: none;
    border-radius: 5px;
    margin-right: 3%;
}

.wedding-rings {
    max-width: 40%;
    height: auto;
}

.hide {
    opacity: 0;
}

/* The animation code */
@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

.appear-element {
    animation-name: show;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* The animation code */
@keyframes move {
    from {transform: translate(-500px);}
    to {transform: translate(0px);}
}
.move-element {
    animation: move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.title {
    font-size: 7vw;
    font-family: 'LXGW WenKai TC', cursive;
    font-weight: bold;
    &.ceremony{
        margin-top: -20px;
    }
}

.ceremony-place {
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'LXGW WenKai TC', cursive;
    font-size: 4vw;
}

.footer-text {
    padding-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'LXGW WenKai TC', cursive;
    font-size: 4vw;
}

.footer-img {
    max-width: 150%;
    filter: invert(100%);
}

.dress-code-text {
    font-family: 'LXGW WenKai TC', cursive;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 14px;
}

.button {
    font-family: 'LXGW WenKai TC', cursive;
    margin-top: 5%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #EAE5E1;
    color: rgb(168, 160, 127);
    border: none;
    border-radius: 5px;
    &.calendar{
        max-width: 50%;
        margin-top: 30px;
    }
}

.champaign {
    max-width: 30%;
    height: auto;
}

.dress-code-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.dress-code-img-icon {
    max-width: 20%;
}

.gift-box{
    max-width: 35%;
    height: auto;
    margin-bottom: 20px;
}
.attendance-icon {
    max-width: 35%;
    height: auto;
}

.nosotros-container{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}
.nosotros-img {
    max-width: 48%;
    border-radius: 5px;
    margin-right: 5%;
    margin-bottom: 3%;
}
.nosotros-main {
    max-width: 100%;
}

#nosotros1{
    transform: translate(-1000px);
}

#nosotros2{
    transform: translate(-1000px);
}

#nosotros3{
    transform: translate(-1000px);
}

#nosotros4{
    transform: translate(-1000px);
}

#nosotros5{
    transform: translate(-1000px);
}

.audio-container {
    margin-top: -90px;
}

.branch-container {
    overflow-x: hidden;
}

/* The animation code */
@keyframes moveBranchLeft {
    from {transform: scaleX(-1) translateX(-280%) translateY(-30%);}
    to {transform: scaleX(-1) translateX(-180%) translateY(-30%);}
}

.move-branch-left {
    animation-name: moveBranchLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes moveBranchRight {
    from {transform: translateX(-110%) translateY(-20%);}
    to {transform: translateX(-50%) translateY(-20%);}
}

.move-branch-right {
    animation-name: moveBranchRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.first-branch {
    transform: translateX(-110%) translateY(-20%);
    max-width: 45%;
    max-height: 45%;
    opacity: 20%;
}

.second-branch {
    transform: scaleX(-1) translateX(-280%) translateY(-30%);
    max-width: 45%;
    max-height: 30%;
    opacity: 20%;
}

.third-branch {
    transform: scaleX(-1) translateX(-280%) translateY(-30%);
    max-width: 45%;
    max-height: 30%;
    opacity: 20%;
}

.fourth-branch {
    transform: translateX(-110%) translateY(-20%);
    max-width: 45%;
    max-height: 45%;
    opacity: 20%;
}